      /* Cookies CSS Start */
      .cookie-div {
        position: fixed;
        bottom: 20px;
        left: 20px;
        width: 300px;
        background-color: #fff;
        border: none;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        z-index: 1000;
        font-family: Arial, sans-serif;
    }
    
    .cookie-div > div:first-child {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    
    .cookie-div .fas.fa-cookie-bite {
        font-size: 24px;
        margin-right: 10px;
    }
    
    .cookie-div h2 {
        font-size: 18px;
        margin: 0;
    }
    
    .cookie-data p {
        font-size: 14px;
        margin: 0 0 10px 0;
    }
    
    .cookie-data a {
        color: #007BFF;
        text-decoration: none;
    }
    
    .cookie-data a:hover {
        text-decoration: underline;
    }
    
    .cookie-buttons {
        display: flex;
        justify-content: start;
        gap: 10px;
    }
    
    .cookie-buttons .button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
    }
    
    #btn-accept-all {
        background-color: #28a745;
        color: white;
    }
    
    #btn-reject-all {
        background-color: #dc3545;
        color: white;
    }
    
    #btn-accept-all:hover {
        background-color: #218838;
    }
    
    #btn-reject-all:hover {
        background-color: #c82333;
    }
    /* Cookies CSS End */